<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quant</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/root.css">
    <link rel="stylesheet" href="/css/landing.css">
</head>

<body>
    <header class="headnav">
        <nav>
            <div class="logo-container">
                <!-- <img class="logo" src="/img/quant-logo.svg" alt="Quant logo"> -->
                <svg class="logo" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                    width="500" zoomAndPan="magnify" viewBox="0 0 375 374.999991" height="500"
                    preserveAspectRatio="xMidYMid meet" version="1.0">
                    <path
                        d="M 353.015625 212.535156 L 298.964844 158.464844 L 320.292969 137.128906 L 335.789062 137.128906 C 340.445312 141.496094 360.503906 161.878906 359.824219 188.132812 C 359.609375 196.417969 357.328125 204.5625 353.015625 212.535156 Z M 340.382812 229.632812 L 285.941406 175.171875 L 251.140625 175.171875 L 229.296875 197.027344 L 153.335938 197.027344 L 113.929688 157.609375 L 149.992188 157.609375 C 150.65625 161.78125 154.234375 164.976562 158.59375 164.976562 C 163.417969 164.976562 167.328125 161.0625 167.328125 156.238281 C 167.328125 151.410156 163.417969 147.496094 158.59375 147.496094 C 154.234375 147.496094 150.65625 150.695312 149.992188 154.867188 L 70.753906 154.867188 L 106.046875 119.5625 L 171.046875 119.5625 L 211.308594 159.835938 L 296.457031 159.835938 L 351.609375 215.007812 C 348.660156 219.957031 344.914062 224.835938 340.382812 229.632812 Z M 325.117188 243.273438 L 323.726562 244.347656 L 322.984375 245.925781 C 322.867188 246.171875 311.003906 270.816406 286.828125 280.488281 L 280.195312 283.144531 L 293.726562 317.6875 C 295.714844 322.769531 292.082031 325.582031 290.921875 326.324219 C 288.523438 327.859375 284.878906 328.378906 281.867188 325.230469 C 279.019531 322.261719 276.710938 319.726562 275.007812 317.699219 C 248.722656 286.414062 214.519531 277.75 187.035156 270.789062 C 162.128906 264.480469 142.453125 259.496094 134.242188 241.453125 L 132.277344 237.132812 L 127.53125 237.242188 C 127.066406 237.253906 80.851562 238.125 51.296875 223.445312 C 40.230469 217.953125 31.574219 209.191406 26 198.589844 L 72.554688 198.589844 L 97.03125 223.074219 L 188.796875 223.074219 L 206.59375 240.878906 L 192.40625 255.070312 L 186.722656 255.070312 C 186.0625 250.898438 182.480469 247.699219 178.125 247.699219 C 173.296875 247.699219 169.386719 251.613281 169.386719 256.441406 C 169.386719 261.269531 173.296875 265.183594 178.125 265.183594 C 182.480469 265.183594 186.0625 261.984375 186.722656 257.8125 L 193.542969 257.8125 L 209.097656 242.25 L 229.296875 242.25 L 255.179688 268.140625 L 274.71875 268.140625 C 275.378906 272.308594 278.960938 275.507812 283.320312 275.507812 C 288.144531 275.507812 292.058594 271.59375 292.058594 266.765625 C 292.058594 261.941406 288.144531 258.027344 283.320312 258.027344 C 278.960938 258.027344 275.382812 261.226562 274.71875 265.394531 L 256.308594 265.394531 L 230.433594 239.511719 L 209.097656 239.511719 L 189.929688 220.335938 L 132.773438 220.335938 L 153.335938 199.769531 L 229.296875 199.769531 L 250.371094 220.847656 L 274.71875 220.847656 C 275.382812 225.019531 278.960938 228.214844 283.320312 228.214844 C 288.144531 228.214844 292.058594 224.304688 292.058594 219.476562 C 292.058594 214.648438 288.144531 210.738281 283.320312 210.738281 C 278.960938 210.738281 275.382812 213.933594 274.71875 218.105469 L 251.503906 218.105469 L 231.800781 198.398438 L 252.277344 177.917969 L 284.808594 177.917969 L 338.480469 231.605469 C 334.558594 235.550781 330.101562 239.441406 325.117188 243.273438 Z M 19.804688 158.234375 C 19.839844 158.023438 19.886719 157.816406 19.921875 157.609375 L 110.054688 157.609375 L 150.828125 198.398438 L 128.898438 220.335938 L 98.167969 220.335938 L 73.6875 195.847656 L 24.652344 195.847656 C 19.457031 184.617188 17.585938 171.566406 19.804688 158.234375 Z M 85.910156 101.539062 L 89.128906 101.105469 L 90.941406 98.421875 C 92.585938 95.988281 128.03125 44.785156 184.917969 58.730469 L 147.746094 95.910156 L 125.816406 95.910156 L 104.914062 116.820312 L 104.511719 117.222656 L 66.878906 154.867188 L 20.460938 154.867188 C 26.777344 125.964844 50.976562 106.132812 85.910156 101.539062 Z M 207.835938 67.5 L 210.441406 66.804688 C 211.035156 66.652344 269.867188 51.4375 305.460938 76.8125 C 310.164062 80.167969 314.25 84.136719 317.742188 88.671875 L 289.601562 116.820312 L 249.429688 116.820312 C 248.769531 112.648438 245.183594 109.449219 240.828125 109.449219 C 236.003906 109.449219 232.09375 113.363281 232.09375 118.191406 C 232.09375 123.015625 236.003906 126.929688 240.828125 126.929688 C 245.183594 126.929688 248.769531 123.734375 249.429688 119.5625 L 290.742188 119.5625 L 319.382812 90.910156 C 326.78125 101.503906 331.128906 115 332.320312 131.300781 L 332.539062 134.296875 L 332.644531 134.386719 L 319.15625 134.386719 L 296.457031 157.09375 L 212.441406 157.09375 L 173.550781 118.191406 L 201.476562 90.253906 L 256.902344 90.253906 C 257.5625 94.425781 261.144531 97.625 265.5 97.625 C 270.328125 97.625 274.238281 93.710938 274.238281 88.886719 C 274.238281 84.058594 270.328125 80.144531 265.5 80.144531 C 261.144531 80.144531 257.5625 83.34375 256.902344 87.515625 L 200.34375 87.515625 L 171.046875 116.820312 L 108.789062 116.820312 L 126.949219 98.65625 L 148.878906 98.65625 L 187.984375 59.539062 C 193.597656 61.128906 199.40625 63.335938 205.414062 66.304688 Z M 346.425781 127.382812 C 343.792969 99.601562 332.832031 78.652344 313.8125 65.09375 C 276.976562 38.835938 222.179688 49.316406 209.398438 52.253906 C 168.5625 33.113281 135.445312 44.1875 114.707031 57.027344 C 96.933594 68.035156 85.316406 81.941406 80.941406 87.71875 C 32.585938 95.28125 10.3125 127.65625 5.613281 155.867188 C 0.00390625 189.542969 15.792969 221.878906 44.894531 236.335938 C 72.21875 249.910156 110.246094 251.515625 123.3125 251.644531 C 135.246094 272.519531 158.730469 278.46875 183.503906 284.742188 C 210.3125 291.53125 240.695312 299.226562 263.992188 326.957031 C 265.902344 329.226562 268.417969 331.996094 271.476562 335.1875 C 275.765625 339.671875 281.289062 341.980469 286.925781 341.980469 C 290.914062 341.980469 294.964844 340.820312 298.671875 338.453125 C 307.585938 332.753906 310.980469 322.300781 307.121094 312.441406 L 298.671875 290.863281 C 320.378906 279.546875 332.089844 259.574219 335.1875 253.671875 C 360.472656 233.867188 373.601562 211.949219 374.207031 188.503906 C 375.007812 157.589844 353.605469 134.300781 346.425781 127.382812 "
                        fill-opacity="1" fill-rule="nonzero" />
                </svg>
            </div>
            <div class="links-container">
                <a class="link news" href="/blog">Blog</a>
                <a class="link about" href="/about">About</a>
            </div>
            <div class="login">
                <a class="sign-in" href="/signin">Sign In</a>
                <a class="sign-up" href="/signup">Sign Up</a>
            </div>
            <div class="menu-container">
                <a class="link news" href="/blog">Blog</a>
                <a class="link about" href="/about">About</a>
                <a class="link sign-in" href="/signin">Sign In</a>
                <a class="link sign-up" href="/signup">Sign Up</a>
            </div>
            <div class="menu-button">
                <div class="line-wrapper">
                    <div class="line line1"></div>
                    <div class="line line2"></div>
                    <div class="line line3"></div>
                </div>
            </div>
        </nav>
    </header>
    <main class="main">
        <div class="hero-banner">
            <%- include('../partials/processor-nodes') %>
        </div>
        <div class="content-wrapper">
            <div class="left-container">
                <div class="brand-wrapper">
                    <h1 class="brand-title">Quant.</h1>
                    <div class="brand-text">Unlock the potential of the stock market with our AI-powered platform that
                        delivers
                        efficient and simple investment insights - making investing as
                        easy
                        as
                        checking your email.
                    </div>
                </div>
                <div class="features-container">
                    <div class="ai-analysis">
                        <div class="ai-container">
                            <div class="ai-svg-wrapper">
                                <%- include('../partials/ai-svg') %>
                            </div>
                        </div>
                        <div class="ai-text">In-depth stock insights powered by AI.</div>
                    </div>
                    <div class="efficiency">
                        <div class="efficiency-container">
                            <div class="efficiency-wrapper">
                                <%- include('../partials/efficiency-svg') %>
                            </div>
                        </div>
                        <div class="efficiency-text">Streamlined process for rapid, high-quality investment insights.
                        </div>
                    </div>
                    <div class="automated-investing">
                        <div class="investing-container">
                            <div class="investing-wrapper">
                                <%- include('../partials/investing-svg') %>
                            </div>
                        </div>
                        <div class="investing-text">Option for automated investing and portfolio management.</div>
                    </div>
                    <div class="simplicity">
                        <div class="simplicity-container">
                            <div class="simplicity-wrapper">
                                <%- include('../partials/simplicity-svg') %>
                            </div>
                        </div>
                        <div class="simplicity-text">User-friendly tools making investing as easy as checking emails.
                        </div>
                    </div>
                </div>
            </div>
            <div class="right-container">
                <div class="platform-banner">
                </div>
            </div>
        </div>
        <div class="pricing-container">
            <div class="pricing-info">
                <div class="pricing-title">Pricing & Plans</div>
                <div class="pricing-text">Instant Access. Cancel Anytime.</div>
            </div>
            <div class="billing-selector">
                <div class="billing-text monthly">Monthly</div>
                <div class="billing-text yearly">
                    <div class="yearly-text">Yearly</div>
                    <div class="save-twenty-wrapper">
                        <div class="save-twenty">Save 20%</div>
                    </div>
                </div>
                <span class="highlighter"></span>
            </div>
            <div class="pricing-table-wrapper">
                <div class="pricing-card">
                    <div class="price-integer">$49/month</div>
                    <div class="billed-anually">Billed annually</div>
                    <div class="pricing-table">
                        <div class="checkmark checkmarkOne"><%- include('../partials/checkmark') %></div>
                        <div class="row rowOne-textOne">+25.000 companies</div>
                        <div class="checkmark checkmarkTwo"><%- include('../partials/checkmark') %></div>
                        <div class="row rowOne-textTwo">Fundamental Analysis</div>

                        <div class="checkmark checkmarkThree"><%- include('../partials/checkmark') %></div>
                        <div class="row rowTwo-textOne">Powered by AI</div>
                        <div class="checkmark checkmarkFour"><%- include('../partials/checkmark') %></div>
                        <div class="row rowTwo-textTwo">Automated investing</div>

                        <div class="checkmark checkmarkFive"><%- include('../partials/checkmark') %></div>
                        <div class="row rowThree-textOne">Email/SMS alerting</div>
                        <div class="checkmark checkmarkSix"><%- include('../partials/checkmark') %></div>
                        <div class="row rowThree-textTwo">Risk-adjusted portfolio</div>

                        <div class="checkmark checkmarkSeven"><%- include('../partials/checkmark') %></div>
                        <div class="row rowFour-textOne">Smart watchlists</div>
                        <div class="checkmark checkmarkEight"><%- include('../partials/checkmark') %></div>
                        <div class="row rowFour-textTwo">Automatic rebalancing</div>
                    </div>
                    <div class="pricing-table-mini">
                        <div class="row-wrapper">
                            <div class="checkmark checkmarkOne"><%- include('../partials/checkmark') %></div>
                            <div class="row rowOne-textOne">+25.000 companies</div>
                        </div>
                        <div class="row-wrapper">
                            <div class="checkmark checkmarkTwo"><%- include('../partials/checkmark') %></div>
                            <div class="row rowOne-textTwo">Fundamental Analysis</div>
                        </div>
                        <div class="row-wrapper">
                            <div class="checkmark checkmarkThree"><%- include('../partials/checkmark') %></div>
                            <div class="row rowTwo-textOne">Powered by AI</div>
                        </div>
                        <div class="row-wrapper">
                            <div class="checkmark checkmarkFour"><%- include('../partials/checkmark') %></div>
                            <div class="row rowTwo-textTwo">Automated investing</div>
                        </div>
                        <div class="row-wrapper">
                            <div class="checkmark checkmarkFive"><%- include('../partials/checkmark') %></div>
                            <div class="row rowThree-textOne">Email/SMS alerting</div>
                        </div>
                        <div class="row-wrapper">
                            <div class="checkmark checkmarkSix"><%- include('../partials/checkmark') %></div>
                            <div class="row rowThree-textTwo">Risk-adjusted portfolio</div>
                        </div>
                        <div class="row-wrapper">
                            <div class="checkmark checkmarkSeven"><%- include('../partials/checkmark') %></div>
                            <div class="row rowFour-textOne">Smart watchlists</div>
                        </div>
                        <div class="row-wrapper">
                            <div class="checkmark checkmarkEight"><%- include('../partials/checkmark') %></div>
                            <div class="row rowFour-textTwo">Automatic rebalancing</div>
                        </div>
                    </div>
                    <div class="pricing-cta-wrapper">
                        <a href="/signup" class="pricing-cta">Join</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="faq-container">
            <div class="faq-wrapper">
                <div class="faq-title">Frequently Asked Questions</div>
                <div class="faq question-one">
                    <div class="q-wrapper">
                        <div class="q-question">How does the AI perform fundamental analysis of public companies?</div>
                        <div class="q-answer">Our AI performs comprehensive fundamental analysis, including qualitative,
                            quantitative, market, and valuation analysis - from a vast array of data sources.</div>
                    </div>
                    <span class="faq-arrow"><%- include('../partials/arrow') %></span>
                </div>
                <div class="faq question-two">
                    <div class="q-wrapper">
                        <div class="q-question">How accurate are the investment recommendations provided by the AI?
                        </div>
                        <div class="q-answer">Our AI is meticulously optimized for high predictive accuracy. It's
                            crucial to
                            note, however, that investing inherently carries some level of risk. Therefore, our AI's
                            recommendations should be utilized as part of a well-considered investment strategy.</div>
                    </div>
                    <span class="faq-arrow"><%- include('../partials/arrow') %></span>
                </div>
                <div class="faq question-three">
                    <div class="q-wrapper">
                        <div class="q-question">How does the platform simplify the investment process?</div>
                        <div class="q-answer">The platform distills complex financial analysis into clear, user-friendly
                            recommendations: invest, avoid, hold, or sell. Our intuitive interface allows for easy
                            portfolio
                            management and efficient decision-making.
                        </div>
                    </div>
                    <span class="faq-arrow"><%- include('../partials/arrow') %></span>
                </div>
                <div class="faq question-four">
                    <div class="q-wrapper">
                        <div class="q-question">How often are the AI's analysis and recommendations updated?
                        </div>
                        <div class="q-answer">We regularly update our AI's analysis and recommendations, ensuring they
                            reflect the most current data. This way, users are equipped with the most recent information
                            for
                            their investment decisions.
                        </div>
                    </div>
                    <span class="faq-arrow"><%- include('../partials/arrow') %></span>
                </div>
                <div class="faq question-five">
                    <div class="q-wrapper">
                        <div class="q-question">Is the platform suitable for novice investors?</div>
                        <div class="q-answer">Absolutely. Our platform is crafted with time-efficiency in mind, making
                            investing accessible for busy individuals. It streamlines complex financial insights into
                            easy-to-understand recommendations. With just a few clicks, users can leverage our AI's
                            advanced
                            analytics, saving considerable time while making informed investment decisions.</div>
                    </div>
                    <span class="faq-arrow"><%- include('../partials/arrow') %></span>
                </div>
                <div class="faq question-six">
                    <div class="q-wrapper">
                        <div class="q-question">Are the AI-generated analyses reviewed by financial analysts before
                            publication?</div>
                        <div class="q-answer">Yes, each AI-generated analysis undergoes a rigorous review by our team of
                            financial analysts before publication. This process ensures the quality of our
                            recommendations,
                            marrying the best of AI-driven insights with human expertise for a more robust and balanced
                            investment strategy.</div>
                    </div>
                    <span class="faq-arrow"><%- include('../partials/arrow') %></span>
                </div>
                <div class="faq question-seven">
                    <div class="q-wrapper">
                        <div class="q-question">Can I cancel my subscription at any time?</div>
                        <div class="q-answer">Yes, we believe in flexibility for our users. You are free to cancel your
                            subscription at any time. We're here to support your investment journey, so you can manage
                            your
                            subscription to best fit your needs.</div>
                    </div>
                    <span class="faq-arrow"><%- include('../partials/arrow') %></span>
                </div>
            </div>
        </div>
    </main>
    <footer class="theFoot">
        <div class="footer-container">
            <div class="brand-name">Quant.</div>
            <a href="/disclaimer" class="ft-link disclaimer">Disclaimer</a>
            <a href="/legal" class="ft-link legal">Legal</a>
            <a href="/tos" class="ft-link tos">Terms of Serivce</a>
            <a href="/pp" class="ft-link privacy-policy">Privacy Policy</a>
            <div class="copyright">Copyright &copy; 2023</div>
        </div>
    </footer>


    <script src="/js/landing.js"></script>
</body>

</html>